FRONTEND_URL=localhost:4321
BACKEND_URL=localhost:3000

# API
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=hyperslice
DATABASE_USER=postgres
DATABASE_PASS=postgres


# Postgres Container
PGUSER=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres