---
import "../../public/style.css";
import Head from "../components/Head.astro";
---

<html lang="en">
	<Head/>
    <body class="error-page">
		<div>
        	<h1 class="brutalbig">404</h1>
            <p style="margin: 1rem 0">Looks like we couldn't find what you were looking for :(</p>
			<a href="/" class="error-back brutal brutal-animate">
				<p>go home?</p>
			</a>
		</div>	
	</body>
</html>
