---
import github from "../assets/github-mark.svg";
import wave from "../assets/wave.svg";
import Head from "../components/Head.astro";
---

<html lang="en">
	<Head />
	<body style=`background-image: ${wave.src};`>
		<div>
			<div class="link-hero">
				<div>
					<h1 class="hero-header">HyperSlice</h1>
					<span>ˈhaɪpər</span>
					<span>slaɪs</span>
				</div>
				<a href="https://github.com/kiabq/short-link" target="_blank">
					<img
						src={github.src}
						width={32}
						height={32}
						alt="Github Logo"
					/>
				</a>
			</div>
			<form id="form-long">
				<div class="link-input-wrapper">
					<input
						id="link-input"
						class="brutal brutal-animate link-input"
						placeholder="your link goes here!"
						type="text"
						required
						maxlength="2048"
						autocomplete="off"
					/>
					<p class="link-error"></p>
				</div>

				<button type="submit" id="link-submit" class="link-submit brutal brutal-animate">
					<span id="submit-text">submit</span>
					<div id="submit-loader" class="lds-ellipsis hide"><div></div><div></div><div></div><div></div></div>
				</button>
			</form>

			<div id="form-short">
				<div>
					<h6 class="link-final-header">shortened link:</h6>
					<input
						id="link-short"
						class="brutal link-input link-final"
						type="text"
						autocomplete="off"
						disabled
					/>
				</div>

				<button class="link-copy" onclick="this.blur();" tabindex="0">
					<span class="material-symbols-sharp">content_copy</span>
				</button>
			</div>

			<div id="qr-wrapper" class="link-qr-wrapper hide">
				<h2>QR Code</h2>
				<div class="link-qr">
					<canvas id="qr"/>
					<div class="qr-controls">
						<a id="qr-png" class="qr-button brutal brutal-animate" download>PNG</a>
						<a id="qr-webp" class="qr-button brutal brutal-animate" download>WEBP</a>
						<a id="qr-jpg" class="qr-button brutal brutal-animate" download>JPG</a>
					</div>
				</div>
			</div>
		</div>

		<script src="../scripts/rest.ts"></script>
		<script src="../scripts/controls.ts"></script>
		<script is:inline src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.10.1/tsparticles.confetti.bundle.min.js"></script>
	</body>
</html>
