<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script src="../scripts/rest.ts"/>
	</head>
	<body>
		<form id="form" method="POST">
			<input id="link-input" type="text"/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
