---
// I hate this, change import path plox
import "../../public/style.css";
import github from "../assets/github-mark.svg";
import favicon from "../assets/favicon.svg";
import wave from "../assets/wave.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="https://www.github.com/kiabq" />
		<meta name="description" content="A hyperfast, simple link shortener" />
		<meta name="keywords" content="link shortener, url shortener, small url, url, link" />
		<meta name="robots" content="index, follow" />

		<link rel="icon" href={favicon.src} />
		<title>HyperSlice - Link Shortener</title>

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- Material Icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"/>
		<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 
	</head>

	<body style=`background-image: ${wave.src};`>
		<div>
			<div class="link-hero">
				<div>
					<h1 class="hero-header">HyperSlice</h1>
					<span>ˈhaɪpər</span>
					<span>slaɪs</span>
				</div>
				<a href="https://github.com/kiabq/short-link" target="_blank">
					<img
						src={github.src}
						width={32}
						height={32}
						alt="Github Logo"
					/>
				</a>
			</div>

			<form id="form-long">
				<div class="link-input-wrapper">
					<input
						id="link-input"
						class="brutal brutal-animate link-input"
						placeholder="your link goes here!"
						type="text"
						required
						maxlength="2048"
					/>
					<p class="link-error"></p>
				</div>

				<button type="submit" id="link-submit" class="link-submit brutal brutal-animate">
					<span id="submit-text">submit</span>
					<div id="submit-loader" class="lds-ellipsis hide"><div></div><div></div><div></div><div></div></div>
				</button>
			</form>

			<div id="form-short">
				<div>
					<h6 class="link-final-header">shortened link:</h6>
					<input
						id="link-short"
						class="brutal link-input link-final"
						type="text"
						autocomplete="off"
						disabled
					/>
				</div>

				<button class="link-copy" onclick="this.blur();" tabindex="0">
					<span class="material-symbols-sharp">content_copy</span>
				</button>
			</div>

			<div id="qr-wrapper" class="link-qr-wrapper hide">
				<h2>QR Code</h2>
				<div class="link-qr">
					<canvas id="qr"/>
					<div class="qr-controls">
						<a id="qr-png" class="qr-button brutal brutal-animate" download>PNG</a>
						<a id="qr-webp" class="qr-button brutal brutal-animate" download>WEBP</a>
						<a id="qr-jpg" class="qr-button brutal brutal-animate" download>JPG</a>
					</div>
				</div>
			</div>
		</div>

		<script src="../scripts/rest.ts"></script>
		<script src="../scripts/controls.ts"></script>
		<script is:inline src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.10.1/tsparticles.confetti.bundle.min.js"></script>
	</body>
</html>
